.bar-chart {
  height: 300px;
  width: 100%;
  position: relative;
  display: flex;

  .plot {
    margin: 20px;
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    border: 2px solid #000;
    border-top: 0;
    border-right: 0;
    gap: 1%;
    align-items: flex-end;
    padding: 5px;

    .bars {
      flex-grow: 1;
      &:hover .tooltip {
        opacity: 1;
      }
      .tooltip {
        opacity: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 3px;
        margin-top: -25px;
        transition: all 0.2s ease-in-out;
        padding: 3px;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .y-axis {
    transform: rotate(-90deg);
    position: absolute;
    left: -13px;
    top: 50%;
    font-weight: bold;
  }

  .x-axis {
    font-weight: bold;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
