.user-table {
  border-radius: 3px;
  overflow: hidden;

  thead tr {
    background-color: #66a;
    td {
      padding: 10px 4px;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #333;
      }
      &:nth-child(odd) {
        background-color: #444;
      }
    }
  }
  td {
    padding: 4px;
  }
}
