@use '../variables.scss' as *;

.Stopwatch {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  p {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'Courier New';
  }
  button {
    border: none;
    color: white;
    background-color: #666;
    border-radius: $br-1;
    min-width: 65px;

    &:first-child {
      margin-right: 10px;
    }
  }
  .start {
    background-color: $c4;
  }
  .stop {
    background-color: crimson;
  }

  hr {
    width: 100%;
  }
  .lap-times {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    .spacer {
      margin-right: auto;
    }

    li {
      font-family: 'Courier New';
      font-size: 15px;
      display: flex;
      justify-content: space-between;

      &.slowest {
        color: crimson;
      }

      &.fastest {
        color: $c4;
      }
    }
  }
}
