@use '../variables.scss' as *;

#TicTacToe > main > section {
  display: flex;
  gap: 1rem;

  .board {
    $cell-size: 2.5rem;
    display: grid;
    grid-template-columns: $cell-size $cell-size $cell-size;
    grid-gap: 1px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #444;
    overflow: hidden;

    > button {
      aspect-ratio: 1;
      background-color: #666;
      color: $t3;
      border: none;
      font-size: 16px;
      font-weight: bold;

      &.active {
        cursor: pointer;
        &:hover {
          background-color: #555;
        }
      }
    }
  }

  .controls {
    > div {
      margin-bottom: 4px;
    }
    button {
      min-width: 100px;
      background-color: $c4;
      border: none;
      color: $t3;
      border-radius: $br-1;
      padding: 3px;
      &:hover {
        cursor: pointer;
        background-color: $c5;
      }
    }
    .score {
      display: flex;
      gap: 4px;
      > ul {
        border-radius: $br-1;
        overflow: hidden;
        width: 48px;
        > li {
          background-color: #888;
          border: 1px solid transparent;
          text-align: center;
        }
        > :first-child {
          background-color: #666;
          &.active {
            background-color: $c4;
            border: 1px solid #888;
          }
        }
      }
    }
  }
}
