@use '../variables.scss' as *;

.TicTacToe {
  > .board {
    display: grid;
    grid-template-columns: 2em 2em 2em;
    grid-gap: 1px;
    > button {
      aspect-ratio: 1;
      background-color: red;

      &.active {
        cursor: pointer;
      }
    }
  }
}
