@import './wordleShared';

.Keyboard {
  @extend %wordle-colors;
  display: flex;
  flex-direction: column;
  gap: 3px;

  .keyboard-row {
    display: flex;
    gap: 3px;

    &.offset {
      margin-left: 1rem;
    }
    .keyboard-key {
      @extend %wordle-button;
      width: var(--key-size-w);
      height: var(--key-size-h);
      font-size: 12px;
      cursor: pointer;
      border: none;
      border-radius: 4px;

      &.enter {
        width: 3rem;
      }

      &.backspace {
        width: 3rem;
      }
    }
  }
}
