@import './wordleShared';

.Wordle {
  @extend %wordle-colors;
  width: 380px;
  color: black;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 1rem;
  background-color: var(--background);

  .guesses {
    display: flex;
    flex-direction: column;
    gap: 3px;
    .guess {
      display: flex;
      justify-content: center;
      gap: 3px;

      .char {
        @extend %wordle-button;
        width: var(--cell-size);
        height: var(--cell-size);
        border: 2px solid var(--color-tone-4);
        font-size: 20px;

        &.unevaluated {
          border: 2px solid var(--color-tone-3);
        }
      }
    }
  }

  .score {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
