@use './variables.scss' as *;

.App {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $bg-0;
  color: $t3;

  > main {
    overflow: auto;
    flex: 1;
    padding: 1em;

    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      justify-content: left;

      > li {
        flex: 1 1 400px;
        max-width: 600px;
      }
    }
  }

  > .Sidebar {
    flex-shrink: 0;
  }
}

p {
  color: $t3;
}

h1 {
  font-size: 20px;
  color: $c1;
  font-family: monospace;
}

h2 {
  font-size: 18px;
  color: $c2;
  font-family: monospace;
}

button {
  transition-duration: 250ms;
}

a {
  color: $c2;
  text-decoration-line: none;
  &:hover {
    color: $c2-bright;
  }
}

.todo {
  color: crimson;
}
