@use './variables.scss' as *;

.Card {
  $small-pad: 5px;
  $large-pad: 1em;
  background-color: $bg-1;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08),
    0 0 0 1px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  min-width: 400px;
  max-width: 600px;
  flex: 1;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.22),
      0 0 0 1px rgba(0, 0, 0, 0.2);
  }

  .CardHeader {
    margin: 0;
    padding: $large-pad;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), transparent);
  }

  > main {
    padding: $large-pad;
  }
}
