@use './variables.scss' as *;

.Card {
  $small-pad: 5px;
  $large-pad: 1em;
  background-color: $bg-1;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .CardHeader {
    margin-left: -3px;
    padding: $small-pad $large-pad $small-pad $large-pad;
  }

  .CardSubHeader {
    padding: 0 $large-pad $small-pad $large-pad;
  }

  > main {
    background-color: $bg-2;
    padding: $small-pad $large-pad $large-pad $large-pad;
  }
}
