$bg-1: #262d3d;
$bg-2: #455165;
$bg-3: #56637a;
$c1: #00ca81;
$c2: #61dbfb;
$c2-bright: #98eaff;
$c3: #204dc4;
$c4-bright: #02ad6e;
$c4: #007d4f;
$c5: #006641;
$t1: white;
$t2: rgba(255, 255, 255, 0.9);
$t3: rgba(255, 255, 255, 0.7);
$t4: rgba(255, 255, 255, 0.5);
$t5: rgba(255, 255, 255, 0.2);

$br-1: 3px;

$mystery: #bddbfe;

$font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
